// **************************************************************************************
// **************************************************************************************
// SEE
// https://github.com/zeit/next.js/issues/946
// **************************************************************************************
// **************************************************************************************

{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"]
    }]
  ]
}
